# Node modules
/node_modules

# Build output
/build

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# OS-specific files
.DS_Store          # macOS system file
Thumbs.db          # Windows system file

# IDE-specific files (optional)
.vscode
.idea
